/fgfw-lite/local.txt
/fgfw-lite/redirector.txt
/goagent/CA.*
/goagent/certs/
/.directory
/userconf.ini
*.py[cod]
/goagent/proxy.ini
/fgfw-lite/_redirector.py
/.hxs_known_hosts/*
/fgfw-lite/adblock.txt
*.log
fgfw-lite/.hxs_known_hosts/*
.gitignore
